<div class="content" [style.margin-left]="comment.depth * 30 + 'px'" *ngIf=" ! form.id ">
  ({{comment.depth}})::{{ comment.content }}
</div>


<div class="form">
  <form (ngSubmit)=" onSubmit( $event ) ">
    <input type="text" name="content" [(ngModel)]="form.content">
    <button type="submit" *ngIf=" ! loader.creating ">{{ form.id ? 'Edit' : 'Create' }} Comment</button>
    <button type="button" (click)="onClickEditCancel()" *ngIf=" form.id ">Cancel</button>
  </form>
</div>


<div class="buttons" *ngIf="!form.id">
  <button (click)="onClickEdit()">Edit</button>
  <button>Delete</button>
  <button (click)="onClickLike()">Like({{comment.numberOfLikes ? comment.numberOfLikes : 0}})</button>
  <button (click)="onClickDislike()">Dislike({{comment.numberOfDislikes ? comment.numberOfDislikes : 0}})</button>
</div>

