<h1>Categories</h1>
  <form (ngSubmit)=" onSubmitCategoryCreateForm( $event ) ">
    <div>Category ID:
      <input name="id" [(ngModel)]="category.id">
    </div>
    <div>Category Name:
      <input name="name" [(ngModel)]="category.name">
    </div>
    <div>Category Description:
      <input name="description" [(ngModel)]="category.description">
    </div>
    <div>Subcategories
      <input name="subcategories" size="64" [(ngModel)]="category.subcategories">
      <div>You can input many subcategories seprate by comma. white spaces between comma will be ignored.</div>
    </div>
    <div>numberOfPostsPerPage:
      <input name="numberOfPostsPerPage" size="3" [(ngModel)]="category.numberOfPostsPerPage">
    </div>
    <button type="submit" *ngIf=" ! progress ">Create a Category</button>
    <button type="submit" (click)=" show.createForm = false ">Cancel</button>
    <span class="loader" *ngIf=" progress ">Loading...</span>
  </form>

  