<h2 class="p-0 m-0">Forum (Post)</h2>
<section class="form">
  <form (ngSubmit)=" onSubmit( $event ) ">
    <div>
      Select Category :
      <select name="category" [(ngModel)]="post.category" *ngIf="categoryIds.length">
        <option value="" selected>Select Category</option>
        <option value="wrong-category">Wrong Category ID</option>
        <option *ngFor=" let id of categoryIds " [value]=" id ">{{ categories[id].name ? categories[id].name : id }}</option>
      </select>
      <div *ngIf="categoryIds.length && post.category && subcategories">
        Select Sub Category :
        <select name="subcategory" [(ngModel)]="post.subcategory">
          <option *ngFor=" let categoryName of subcategories " [value]=" categoryName ">{{ categoryName }}</option>
        </select>
      </div>
    </div>
    <div>Title:
      <input name="name" [(ngModel)]="post.title">
    </div>
    <div>Content:
      <input name="description" [(ngModel)]="post.content">
    </div>
    <button type="submit" *ngIf=" ! loader.creating ">Create a Post</button>
    <span class="loader" *ngIf=" loader.creating ">Loading...</span>
  </form>
</section>


<hr> Forums:
<button (click)="loadPage('all')">All categories</button>
<button *ngFor=" let id of categoryIds " (click)=" loadPage( id ) ">{{ categories[id].name ? categories[id].name : id }}</button>
<hr>


<ul>
  <li *ngFor=" let id of getPostIDs()">
    <div>{{ getPost(id).category }} / {{ getPost(id).title }} / {{ getPost(id).date }}</div>
    <div style="padding: 1em; background-color: #eee;">
      {{ getPost(id).content }}
    </div>
    <button (click)="onClickEdit( getPost(id) )">Edit</button>
    <button (click)="onClickDelete( id )">Delete</button>
    <button (click)="onClickLike(id)">Like({{getPost(id).numberOfLikes ? getPost(id).numberOfLikes : 0}})</button>
    <button (click)="onClickDislike(id)">Dislike({{getPost(id).numberOfDislikes ? getPost(id).numberOfDislikes : 0}})</button>
  </li>
</ul>
<button (click)=" loadPage() ">Load Next Page</button>
